html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,p,ul,li {
  margin: 0;
}

:root {
  /*text color*/
  --accent-color: #2196f3;
  --title-color-white: #ffffff;
  --title-color-dark: #212121;
  --text-color: #757575;
  --white-color-info: rgba(255, 255, 255, 0.6);
  /*bgd-color*/
  --background-color-team: #f5f4fa;
  --background-color: #e5e5e5;
  --background-color-footer: #2f303a;
  --outline-color: rgba(238, 238, 238, 1);
  --border-bottom: rgba(236, 236, 236, 1);
}

body {
  font-family: "Roboto";
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-header {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-heade {
  border-bottom: 1px dotted var(--border-bottom);
}

.header-list {
  display: flex;
  margin-left: 92px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-list .item + .item {
  margin-left: 50px;
}

.header-logo {
  display: block;
  font-family: "Raleway";
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-accent {
  color: var(--title-color-dark);
}

.header-link {
  display: block;
  font-weight: 500;
  color: var(--title-color-dark);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-group {
  display: flex;
  margin-left: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

}

.header-group .item + .item {
  margin-left: 50px;
}

.hero {
  background-color: var(--background-color-footer);
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/bg.jpg);
}

.hero-title {
  display: block;
  font-weight: 900;
  color: var(--title-color-white);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-butoon {
  font-family: "Roboto";
  color: var(--title-color-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-title {
  color: var(--title-color-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits-item {
  display: flex;
  padding: 0;
}

.benefits-list::before {
content: "";
display: block;
margin-bottom: 30px;
height: 120px;
background-color: var(--background-color-team);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
} 

.benefits-item .list + .list {
  margin-left: 50px;
}

.about {
  padding-bottom: 94px;
}


.about-title {
  color: var(--title-color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  padding: 0;
}

.about-item-list:nth-child(n + 2) {
  margin-left: 30px;
}

.team {
  background-color: var(--background-color-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  padding: 0;
}

.team-item-list {
  background-color: var(--title-color-white);
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid var(--outline-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-list > img {
  border-radius: 4px 4px 0 0;
}

.team-item-list:nth-child(n + 2) {
  margin-left: 30px;
}

.team-title {
  color: var(--title-color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  color: var(--title-color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.team-profesiya {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-color-footer);
  padding: 60px 0;
}

.footer-logo {
  font-family: "Raleway";
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-accent {
  color: var(--title-color-white);
}

.footer-list {
  padding: 0;
  margin-top: 20px;
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:nth-child(3) {
  margin-bottom: 0;
}


.footer-address {
  color: var(--title-color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link {
  color: var(--white-color-info);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/*=====Portfolio=====*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}

.portfolio-button-list .list + .list {
  margin-left: 8px;
}

.portfolio-button {
  font-family: "Roboto";
  color: var(--title-color-dark);
  background-color: var(--background-color-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-shadow:hover,
.portfolio-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: -30px;
}
.portfolio-list-item {
padding: 20px 24px;
border: 1px solid var(--outline-color);
border-top: none;
margin-top: -5px;
}
 
.portfolio-list > .list:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-list > .list {
  margin-right: 30px;
}

.portfolio-list > li {

  margin-bottom: 30px;
}

.portfolio-list > li > h2 {
  margin-top: 0;
  margin-bottom: 8px;
}

.portfolio-list > li > p {
  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio-title {
  color: var(--title-color-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
